.icon{
    width: 20%;
    margin-top:20px ;
    margin-bottom: 5px;
}
.para{
    width: 80%;
}
.contactBox{
    display: flex;
    width: 80%;
    padding:0px 30px
}
.label{
    margin-top: 10px;
}
.title{
    margin: 10px 0px;
}
.details{
    margin-top: 15px;
}
.email{
    color: black;
    text-decoration: none;
}
.back{
    color: white;
    font-size: larger;
}
.body h1{
    font-size: xx-large;
    color: white;
}

@media (max-width:900px) and (min-width:595px){
    .contactBox{
        display: block;
        width: 30%;
        margin:10px;
        padding: 0;
    }
}
@media (max-width:630px){
    .contactBox{
        display: block;
        width: 70%;
        margin: auto;
        padding: 0;
    }
    .para{
        width: 100%;
    }
    .back{
        font-size: medium;
        width: 90%;
    }
}